* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #0f0f0f;
  color: #fff;
  font-family: "Eczar", serif;;
  
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

header .logo {
  width: 240px;
  height: 50px;
  margin-left: 50px;
}

header .links {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

header .links a {
  color: white;
  font-size: 40px;
  text-decoration: none;
  font-family: 'UnifrakturMaguntia', cursive;
  transition: color 0.3s ease;
  text-align: right;
  margin: 20px;
}

header a:hover {
  color: #a70000;
}

header a:last-child {
  color: #a70000;
}



#container {
  display: flex;
  margin-top: 8%;
}

#nomeUsuario {
  font-size: 30px;
  font-family: 'Eczar';
}

.boxDash {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.divisao {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 80px;
  padding-right: 80px;
}

.kpi {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  gap: 30px;
}

.containerKpi {
  height: 99%;
  width: 100%;
  gap: 20px;
  padding: 15px;
  background-color: #000000a9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxKpi {
  width: 70%;
  height: 60%;
  background-color: #541533ae;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Eczar';
}

.boxKpi1 {
  width: 70%;
  height: 15%;
  background-color: #541533ae;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Eczar';
}

.dash {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  width: 75%;
  align-items: center;
}

.pontuacao {
  width: 450px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 5px 10px 1px #000;
  background-color: #000000a9;

}

.usuarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #000000a9;
  padding: 20px;
  border-radius: 10px;
}

.idade {
  width: 450px;
  padding: 20px;
}