* {
  box-sizing: border-box;
  margin: 0;
  padding: 10px 10px 10px 10px;
}

body {
  background-image: linear-gradient(90deg, #212121, #000000);
  color: #fff;
  font-family: "Eczar", serif;
  overflow: hidden;;

}

.selecao {
  display: flex;
  justify-content: space-between;
}

.selecao h1 {
  font-family: 'UnifrakturMaguntia';
  font-size: 4em;
}

.selecao i {
  color: #a70000;
  font-size: 50px;
}

.quizes {
  display: flex;
  flex-direction: row;
  gap: 60px;
  justify-content: center;
}

.quizes .card-quiz {
  background-color: white;
  max-width: 50%;
  border-radius: 5px;
  height: 530px;
  width: 60%;
  padding: 15px;
}

.img-quiz1 {
  background-image: url(../img/quiz1.jpeg);
  width: 90%;
  height: 40%;
  border-radius: 5px;
  justify-self: center;
}

.img-quiz2 {
  background-image: url(../img/quiz2.jpeg);
  width: 90%;
  height: 40%;
  border-radius: 5px;
  justify-self: center;
}

.img-quiz3 {
  background-image: url(../img/quiz3.jpeg);
  width: 90%;
  height: 40%;
  border-radius: 5px;
  justify-self: center;
}

.descricao-quiz {
  display: flex;
  color: #000000;
  max-width: 95%;
  text-align: justify;
  flex-direction: column;
  line-height: 28px;
}

.descricao-quiz h1 {
  font-family: 'UnifrakturMaguntia';
  font-size: 35px;
}

.botao-quiz{
  display: flex;
  background-color: #a70000;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 40px;
  justify-self: end;
  color: #fff;
  font-family: 'Eczar';
  font-size: 18px;
  border-radius: 10px;
  border-style: none;
}



