* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0f0f0f;
  color: #fff;
  font-family: "Eczar", serif;;
  
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

header .logo {
  width: 240px;
  height: 50px;
  margin-left: 50px;
}

header .links {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

header .links a {
  color: white;
  font-size: 40px;
  text-decoration: none;
  font-family: 'UnifrakturMaguntia', cursive;
  transition: color 0.3s ease;
  text-align: right;
  margin: 20px;
}

header a:hover {
  color: #a70000;
}

header a:last-child {
  color: #a70000;
}

#jogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-top: 12%;
}

#nomeUsuario {
    font-size: 30px;
    font-family: 'Eczar';
}

#btnIniciarQuiz {
    background-color: #a70000;
    color: white;
    border: none;
    padding: 12px;
    width: 200px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#btnIniciarQuiz:hover {
    color: #a70000;
    background-color: #000000;
    transform: translateY(-2px);
}


.msgFinal {
    font-size: 20px;
    margin-top: 8px;
}

.msgFinal a{
  color: #a70000;
}

.pergunta{
    font-size: 20px;
}

.respostas {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin: auto;
    gap: 10px;
}


.botoesResposta {
    border-radius: 20px;
    display: flex;
    margin: auto;
    border: none;
    width: 55%;
    height: 40px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    margin-top: 5%;
    padding: 20px;
}

.botoesResposta:not(:disabled):hover {
    filter: brightness(0.8);
    transform: scale(1.2);
}

.btnProxima {
    border-radius: 20px;
    display: flex;
    margin: auto;
    border: none;
    width: 55%;
    height: 40px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    margin-top: 5%;
    padding: 20px; 
}

.btnProxima:hover {
    color: #a70000;
    background-color: #000000;
    transform: translateY(-2px);
}

.hide {
    display: none;
}

.correto {
    background-color: #27ff59a8;
}

.incorreto {
    background-color: #ff000094;
}

.answer:disabled {
    cursor: not-allowed;
}

#containerPerguntas{
    display: none;
    justify-content: center;
    background-color: #621b3e4c;
    color: white;
    padding: 20px;
    min-width: 700px;
    max-width: 700px;
    border-radius: 15px;
}

