* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color:   #000000;
  color: #fff;
  font-family: Arial, sans-serif;
}

header {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  flex-wrap: wrap;
}

header .logo {
  width: 20%;
  margin-left: 50px;
}

header a {
  color: white;
  font-size: 28px;
  text-decoration: none;
  font-family: 'UnifrakturMaguntia', cursive;
  transition: color 0.3s ease;
  text-align: right;
  margin: 20px;
}

header a:hover {
  color: #a70000;
}

header a:last-child {
  color: #a70000;
}
  
.banner {
  background-image: url(../img/banner.png);
  height: 113vh;
  display: flex;
  align-items: center;
}

.banner-text {
  max-width: 900px;
  color: #fff;
}

.banner h1 {
  font-family: 'UnifrakturMaguntia';
  font-size: 4rem;
}

.banner-text p {
  margin-top: 20px;
  font-size: 25px;
  line-height: 1.6;
  font-family: 'Eczar';
}

section {
  padding: 60px 40px;
}


.cultura h1{
  display: flex;
  justify-content: center;
  font-family: 'UnifrakturMaguntia';
  font-size: 50px;
}

.cultura1 {
  flex-direction: row;
  display: flex;
}

.cultura1 p {
  max-width: 900px;
  font-family: 'Eczar';
  font-size: 20px;
  margin-top: 100px;
}

.cultura1 .img-bandas {
  background: url("../img/bandas.png");
  background-size: cover;
  width: 600px;
  height: 450px;
}

.cultura2 {
  flex-direction: row;
  display: flex;
}

.cultura2 p {
  max-width: 900px;
  font-family: 'Eczar';
  font-size: 20px;
  margin-top: 100px;
  margin-left: 70px;
}

.cultura2 .img-death {
  background: url("../img/deathSandman.png");
  background-size: cover;
  width: 450px;
  height: 350px;
}

.estetica {
  background-image: linear-gradient(90deg, #ffffff, #100030);
}

.estetica h1{
  display: flex;
  justify-content: center;
  font-family: 'UnifrakturMaguntia';
  font-size: 50px;
}

