* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color:   #000000;
  color: #fff;
  font-family: Arial, sans-serif;
}

/*HEADER*/

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.404);
  flex-wrap: wrap;
}

header .logo {
  width: 20%;
  margin-left: 50px;
}

header a {
  color: white;
  font-size: 28px;
  text-decoration: none;
  font-family: 'UnifrakturMaguntia', cursive;
  transition: color 0.3s ease;
  text-align: right;
  margin: 20px;
}

header a:hover {
  color: #a70000;
}

header a:last-child {
  color: #a70000;
}

/*BANNER*/

.banner {
  background-image: url(../img/banner.png);
  height: 113vh;
  display: flex;
  align-items: center;
}

.banner-text {
  max-width: 900px;
  color: #fff;
}

.banner h1 {
  font-family: 'UnifrakturMaguntia';
  font-size: 6rem;
}

.banner-text p {
  padding: 20px;
  font-size: 25px;
  line-height: 1.6;
  font-family: 'Eczar';
}

section {
  padding: 60px 40px;
}

/*CULTURA*/

.cultura h1 {
  text-shadow: 0 4px 5px #ffffff;
  display: flex;
  justify-content: center;
  font-family: 'UnifrakturMaguntia';
  font-size: 5rem;
}

.cultura1 {
  flex-direction: row;
  display: flex;
}

.cultura1 p {
  max-width: 900px;
  font-family: 'Eczar';
  font-size: 20px;
  padding: 100px;
}

.cultura1 .img-bandas {
  background: url("../img/bandas.png");
  background-size: cover;
  width: 600px;
  height: 400px;
}

.cultura2 {
  flex-direction: row;
  display: flex;
}

.cultura2 p {
  max-width: 900px;
  font-family: 'Eczar';
  font-size: 20px;
  padding: 100px;
  margin-left: 70px;
}

.cultura2 .img-death {
  background: url("../img/deathSandman.png");
  background-size: cover;
  width: 450px;
  height: 350px;
}

/*ESTETICA*/

.estetica {
  background-image: linear-gradient(90deg, #221932, #000000);
}

.estetica h1 {
  text-shadow: 0 4px 5px #ffffff;
  display: flex;
  justify-content: center;
  font-family: 'UnifrakturMaguntia';
  font-size: 5rem;
}

.estetica-dividida {
  flex-direction: row;
  display: flex;
}

.estetica-esquerda {
  width: 65%;
  flex-direction: row;
  display: flex;
  align-items: center;
  padding: 50px;
}

.estetica-direita {
  width: 35%;
}

.estetica p {
  max-width: 700px;
  font-family: 'Eczar';
  font-size: 20px;
  padding: 20px;
}

.estetica-direita p {
  max-width: 500px;
  font-family: 'Eczar';
  font-size: 22px;
  text-align: right;
}

.estetica h2 {
  font-family: 'UnifrakturMaguntia';
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.estetica-esquerda .img-trad {
  background-image: url("../img/trad.png");
  background-size: cover;
  width: 330px;
  height: 390px;
}

.estetica-esquerda .img-romantic {
  background-image: url("../img/romantic.png");
  background-size: cover;
  width: 300px;
  height: 400px;
  margin-bottom: 25px;
}
.romantic {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-left: 20px;
  align-items: center;
  box-shadow: 0 4px 15px #3d2d5a;
}

.trad {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  box-shadow: 0 4px 15px #3d2d5a;
}

/*SIMBOLISMO*/

.simbolismo {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.simbolismo h1 {
  text-shadow: 0 4px 5px #000000;
  display: flex;
  justify-content: center;
  font-family: 'UnifrakturMaguntia';
  font-size: 5rem;
  color: #000000;
}

.simbolismo p {
  font-family: 'Eczar';
  font-size: 15px;
  color: #ffffff;
  padding: 30px;
  padding-right: 0;
}

.simbolismo1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.box1 {
  background-color: #3d2d5a;
  width: 30%;
  height: 250px;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  align-items: center;
  box-shadow: 0 10px 20px #000000;
}


.img-mulher {
  background-image: url("../img/mulher.png");
  background-size: cover;
  width: 400px;
  height: 200px;
  margin-top: 20px;
  margin-right: 20px;
}

.box2 {
  background-color: #2A4725;
  width: 30%;
  height: 250px;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  align-items: center;
  box-shadow: 0 10px 20px #000000;
}

.img-catedral {
  background-image: url("../img/catedral.png");
  background-size: cover;
  width: 400px;
  height: 200px;
  margin-top: 20px;
  margin-right: 20px;
}

.box3 {
  background-color: #780606;
  width: 30%;
  height: 250px;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  align-items: center;
  box-shadow: 0 10px 20px #000000;
  padding-right: 20px;
}

.img-natureza {
  background-image: url("../img/flor.png");
  background-size: cover;
  width: 1000px;
  height: 120px;
  margin-top: 20px;
  margin-right: 20px;
}

.simbolismo2 {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
}

.box4 {
  background-color: #541533;
  width: 30%;
  height: 250px;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  align-items: center;
  box-shadow: 0 10px 20px #000000;
  padding-right: 20px;
}

.img-musica {
  background-image: url("../img/bandas2.png");
  background-size: cover;
  width: 1000px;
  height: 190px;
  margin: 20px;
}

.box5 {
  background-color: #000000;
  width: 30%;
  height: 250px;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  align-items: center;
  box-shadow: 0 10px 20px #000000;
}

.img-livros {
  background-image: url("../img/livros.png");
  background-size: cover;
  width: 520px;
  height: 150px;
  margin: 20px;
}